
<table class="table">
  <th></td>
  <th>Title</td>
  <th>Details</td>
  <th>Price</td>
  <th></td>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= form_tag line_items_path(product_id: product),remote: true do %>
          <%= image_submit_tag product.avatar_url(:thumb).to_s %>
        <% end %>    
      </td>
      <td>
        <%= product.title %>
      </td>
      <td>
        <%=sanitize product.description %>
      </td>
      <td>
        <label>
          <%= number_to_currency(product.price) %>
        </label>
      </td>
      <td>
        <%= button_to 'Add to Cart', line_items_path(product_id: product),remote: true,class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
</table>
