<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="store">
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %><!-- <label id="code.depot.e.title"/> -->
    </div>
    <div id="columns">
      <div id="side" class="group">
        <%= link_to "Home", root_path %><br />
        <%= link_to "Carts", carts_path %><br />
        <a href="#"><%= Time.now.strftime("%b %d %y")%></a><br />
        <% if @cart %>
          <%= hidden_div_if(@cart.line_items.empty?,id: 'cart') { render @cart} %>
        <% end %>
      </div>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div> 
  </body>
</html>
